{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<img src="{% static 'notes/img/logo-getit.png' %}" width="100" height="60"/>
<h1>Notes</h1>

<ul>
  {% for note in notes %}
  <li>{{ note.title }}</li>
  <p>{{note.content}}</p>
  {% empty %}
  <li>Nenhuma anotação por enquanto.</li>
  {% endfor %}
</ul>
<form method="post" action="/">
    {% csrf_token %}
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" />
  
    <label for="detalhes">Detalhes</label>
    <textarea id="detalhes" name="detalhes"></textarea>
  
    <input type="submit" />
  </form>
{% endblock %}