{% extends "notes/base.html" %}

{% block content %}
<h1>Get-it</h1>

<ul>
  {% for note in notes %}
  <li>{{ note.title }}</li>
  <p>{{note.content}}</p>
  {% empty %}
  <li>Nenhuma anotação por enquanto.</li>
  {% endfor %}
</ul>
<!-- <form method="post" action="/">
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" />
  
    <label for="detalhes">Detalhes</label>
    <textarea id="detalhes" name="detalhes"></textarea>
  
    <input type="submit" />
  </form>
{% endblock %} -->